[core]
        editor = nano
        autocrlf = input
[init]
        defaultBranch = master
[alias]
        s = status -sb
        l = log --graph --decorate --pretty=oneline --abbrev-commit
        r = reset --hard HEAD
        ca = commit --amend --no-edit -a
        pf = push --force
[push]
        autoSetupRemote = true
